<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TumorSense</title>
    {%  include "mainHeader/mainHeader.html" %}
  </head>
  <body>

      <div class="container-fluid">
          <div class="center-card">
              <div class="row justify-content-around">
                  <div class="card col-md-3">
                      <div class="mb-3 evervault-card">
                          <div class="card-content">
                              <h5 class="card-title">Brain Tumor Detection</h5>
                              <p class="card-text">Click the button below to proceed with brain tumor detection.</p>
                              <a href="{{ url_for('view_prediction_page') }}" class="btn btn-gradient-blue">Start Detection</a>
                          </div>
                      </div>
                  </div>
                  <div class="card col-md-3">
                      <div class="mb-3 evervault-card">
                          <div class="card-content">
                              <h5 class="card-title">Other Organs Tumors</h5>
                              <p class="card-text">Detect tumors in other organs.</p>
                              <a  class="btn btn-gradient-blue cursor-default">Coming Soon!</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </body>
</html>
