<!DOCTYPE html>
    <html lang="en">
    <head>
        <title>TumorSense</title>
        {%  include "mainHeader/mainHeader.html" %}
    </head>
    <body>
        <div class="container-fluid pt-5">
                <div class="row">
{#                    {% if not true %}#}
                    {% if not prediction %}
                        <div class="form-group">
                            <form method="POST" action="/predict" enctype="multipart/form-data">
                              <label for="input_data">Upload Image:</label>
                              <input type="file" name="input_data" id="input_data" accept="image/*" required />
                              <input class="btn-gradient-purple-blue" type="submit" value="Predict" />
                            </form>
                        </div>
                    {% endif %}

                    <div>
                        <a href="{{ url_for('view_model') }}" class="d-none">
                          <button>View 3D Brain</button>
                        </a>

                        <div class="report-container">
{#                            {% if true %}#}
                            {% if prediction %}
                                <p>Prediction: {{ prediction }}</p>
                                <div class="report">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                                    molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                                    numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                                    optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
                                    obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
                                    nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
                                    tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
                                    quia. Quo neque error repudiandae fuga? Ipsa laudantium molestias eos
                                    sapiente officiis modi at sunt excepturi expedita sint? Sed quibusdam
                                    recusandae alias error harum maxime adipisci amet laborum. Perspiciatis
                                    minima nesciunt dolorem! Officiis iure rerum voluptates a cumque velit
                                    quibusdam sed amet tempora. Sit laborum ab, eius fugit doloribus tenetur
                                    fugiat, temporibus enim commodi iusto libero magni deleniti quod quam
                                    consequuntur! Commodi minima excepturi repudiandae velit hic maxime
                                    doloremque. Quaerat provident commodi consectetur veniam similique ad
                                    earum omnis ipsum saepe, voluptas, hic voluptates pariatur est explicabo
                                    fugiat, dolorum eligendi quam cupiditate excepturi mollitia maiores labore
                                    suscipit quas? Nulla, placeat. Voluptatem quaerat non architecto ab laudantium
                                    modi minima sunt esse temporibus sint culpa, recusandae aliquam numquam
                                    totam ratione voluptas quod exercitationem fuga. Possimus quis earum veniam
                                    quasi aliquam eligendi, placeat qui corporis!
                                </div>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
    </body>
</html>