<!DOCTYPE html>
    <html lang="en">
    <head>
        <title>TumorSense</title>
        {%  include "mainHeader/mainHeader.html" %}

        {# Scripts #}
        <script src="{{ url_for('static', filename='lib/TypeWriter.js') }}" defer ></script>
    </head>
    <body>
        <div class="container-fluid pt-5">
                <div class="row">
{#                    {% if not true %}#}
                    {% if not prediction %}
                        <div class="form-group">
                            <form method="POST" action="/predict" enctype="multipart/form-data">
                              <label for="input_data">Upload Image:</label>
                              <input type="file" name="input_data" id="input_data" accept="image/*" required />
                              <input class="btn-gradient-purple-blue" type="submit" value="Predict" />
                            </form>
                        </div>
                    {% endif %}

                    <div>
                        <a href="{{ url_for('view_model') }}" class="d-none">
                          <button>View 3D Brain</button>
                        </a>

                        <div class="report-container">
                            {% if prediction %}
                                <span class="p-3 title">Result: {{ prediction }}</span>
                                <div class="report" id="predict_report_text"></div>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
            <script defer>
                document.addEventListener('DOMContentLoaded', (event) => {
                    let report_text = "{{ report_text }}"
                    console.log("Report Text: \n\n" + report_text)


                    TypeWriter(report_text, 'predict_report_text', 25)
                });

            </script>
    </body>
</html>