<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>radar chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='lib/jquery/jquery-3.7.1.min.js') }}"></script>
</head>
<body>
<canvas id="statistics_pie_chart" width="400" height="400"></canvas>

<script>
    {# Pie chart JS #}
    console.log("JSON data");
    console.log({{ detection_counter | safe }});

    const chart_data = {{ detection_counter | safe }};

    const theme = $('.themeSelector').val();
    const chart_grid_color = theme === '🌑' ? 'white' : 'grey';

    const labels = Object.keys(chart_data);
    const data = {
        labels: labels,
        datasets: [
            {
                label: 'Has been detected: ',
                data: Object.values(chart_data),
                borderColor: '#6690E8FF',
                backgroundColor: ['#6096B4', '#93BFCF', '#BDCDD6', '#898121'],
            }
        ],
        hoverOffset: 5,

    };

    const config = {
        type: 'pie',
        data: data,
        options: {
            responsive: true,
            plugins: {
                title: {
                    display: false,
                    text: 'Tumor Detection Statistic',
                },
            },
            cutout: '50%'
        }
    };

    const themeSelector = document.querySelector('#theme');
    const ctx = document.getElementById('statistics_pie_chart').getContext('2d');
    const pieChart = new Chart(ctx, config);

</script>
</body>
</html>
