<!DOCTYPE html>
<html>
<head>
    <title>Brain Model Viewer</title>
    <script type="importmap">
        {
            "imports": {
                "three": "https://unpkg.com/three@0.129.0/build/three.module.js"
            }
        }
    </script>
</head>
<body>
    <canvas id="canvas" style="width: 100%;"></canvas>

    <script type="module">

        import * as THREE from "three";
        import { OrbitControls } from "https://cdn.skypack.dev/three@0.129.0/examples/jsm/controls/OrbitControls.js";
        import { OBJLoader } from "https://cdn.skypack.dev/three@0.129.0/examples/jsm/loaders/OBJLoader.js";

        const scene = new THREE.Scene();
        const camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 1, 2000);
        camera.position.set(0, 0, 53);

        let model;
        let controls;
        const loader = new OBJLoader();

        /*var textureLoader = new THREE.TextureLoader();
        var texture = textureLoader.load('static/3D_brain_model/textures/material_0_normal.png');
        texture.flipY = false;*/

        loader.load('static/3D_brain_models/brain-parts-big.obj', function(obj) {
            model = obj;
            model.traverse(function(child) {
                if (child instanceof THREE.Mesh) {
                    child.material.color = new THREE.Color(0xffb830);
                }
            });
            model.position.set(0, 0, 53);
            scene.add(model);
        }, function(xhr) {
            console.log((xhr.loaded / xhr.total) * 100 + '% loaded');
        }, function(error) {
            console.error('An error occurred:', error);
        });

        const renderer = new THREE.WebGLRenderer({alpha: true});
        renderer.setSize(window.innerWidth, window.innerHeight);
        document.getElementById("canvas").appendChild(renderer.domElement);

        window.addEventListener('resize', function() {
            camera.aspect = window.innerWidth / window.innerHeight;
            camera.updateProjectionMatrix();
            renderer.setSize(window.innerWidth, window.innerHeight);
        });

        const animate = function() {
            requestAnimationFrame(animate);
            renderer.render(scene, camera);
        }

        animate(); 
    </script>
    
</body>
</html>

