<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='lib/jquery/jquery-3.7.1.min.js') }}"></script>
</head>
<body>
<canvas class="chart" id="statistics_line_chart" width="400px" height="400px"></canvas>

<script>
    {# Line chart JS #}
    console.log("JSON data");
    console.log({{ avg_age | safe }});

    const line_chart_data = {{ avg_age | safe }}
    if (line_chart_data !== '') {
        const theme = $('.themeSelector').val();
        const chart_grid_color = theme === '🌑' ? 'white' : 'grey';

        const data = {
            labels: Object.keys(line_chart_data),
            datasets: [
                {
                    label: 'Average age: ',
                    data: Object.values(line_chart_data),
                    borderColor: '#87a5eb',
                    borderWidth: 2,
                    borderRadius: 10,
                    backgroundColor: ['#6096B4', '#93BFCF', '#BDCDD6', '#898121'],
                }
            ],
        };

        const config = {
            type: 'bar',
            data: data,
            options: {
                responsive: true,
                layout: {
                    padding: {
                        bottom: 15,
                    },
                },
                hoverOffset: 25,
                plugins: {
                    legend: {
                      display: false,
                    },
                    title: {
                        display: false,
                        text: 'Average Tumor age Statistic',
                    },
                },
            }
        };

        const themeSelector = document.querySelector('#theme');
        const ctx = document.getElementById('statistics_line_chart').getContext('2d');
        const pieChart = new Chart(ctx, config);
    }
</script>
</body>
</html>
