<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }} Tumor Detection</title>
    {% include "mainHeader/mainHeader.html" %}

    {#  CSS  #}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='styles/bootstrap/bootstrap-icons.min.css') }}"/>

    {# Scripts #}
    <script src="{{ url_for('static', filename='lib/TypeWriter.js') }}" defer></script>
    <script src="{{ url_for('static', filename='lib/sendRequest.js') }}" defer></script>

</head>
<body>
<div class="container-fluid pt-3">
    <div class="row">
        {#                    {% if not true %}#}
        {% if not prediction %}
            <div class="form-container">
                <div class="p-2 text-center title">
                    {{ title }} Tumor Detection
                </div>

                <div class="d-flex mt-5 justify-content-between charts-container">
                    {% include 'charts/tumors_chart.html' %}
                    {% include 'charts/age_chart.html' %}
                </div>
                <div>
                    <div class="form-container mt-5">
                        <form method="POST" class="form-upload" action="/predict/{{ type }}"
                              enctype="multipart/form-data">
                            <label for="input_data" class="upload-label" title="Upload an image" data-bs-toggle="tooltip"
                                   data-bs-placement="top">
                                    <span class="upload-text">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                            class="bi bi-upload" viewBox="0 0 16 16">
                                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"></path>
                                            <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z"></path>
                                        </svg>
                                        &nbsp;&nbsp;
                                        <span class="upload-file-name">Upload an image</span>
                                    </span>
                            </label>
                            <input type="file" name="input_data" id="input_data" class="upload-file" accept="image/*"
                                   required/>
                            <input class="btn-gradient-purple-blue predict-btn" id="predict_btn" style="margin-block: 3ch;" type="submit" value="Predict"/>
                        </form>
                    </div>
                </div>

            </div>
        {% endif %}

        <div>
            <div class="report-container">
                {% if prediction %}
                    <div class="p-2 text-center title">
                        {{ title }} Tumor Detection
                    </div>
                    <div class="result-container">
                        <h4 class="p-3">
                            {{ prediction }}
                            <span class="icon-container">
                                <i id="export-pdf" class="bi bi-file-pdf" title="Export to PDF"></i>
                                <!-- <i id="send-mail" class="bi bi-envelope" title="Send Mail"></i> -->
                            </span>
                        </h4>
                        <div class="report" id="predict_report_text"></div>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>
</div>
<script defer>
    document.addEventListener('DOMContentLoaded', (event) => {

        document.getElementById('input_data')?.addEventListener('change', function () {
            let file = this.files[0];
            let label = document.querySelector('.upload-label');

            if (!file) return;

            if (file.name.length > 20)
                file.name = file.name.substring(0, 20) + '...';

            label.querySelector('.upload-file-name').innerText = file.name;
            label.classList.add('selected');
        });

        $('#predict_btn').click(function (){
            const fileInput = document.getElementById('input_data');

            if (!fileInput.files[0]) {
                event.preventDefault();
                Swal.fire({
                    title: 'Error!',
                    text: 'Please select an image file before predicting.',
                    icon: 'error',
                    confirmButtonText: 'OK'
                })
            }
        });

       /* document.getElementById('predict_btn').addEventListener('submit', function (event) {
            const fileInput = document.getElementById('input_data');

            if (!fileInput.files[0]) {
                event.preventDefault();
                Swal.fire({
                    title: 'Error!',
                    text: 'Please select an image file before predicting.',
                    icon: 'error',
                    confirmButtonText: 'OK'
                })
            }
        });*/

        let report_text = "{{ report_text }}"
        console.log("Report Text: \n\n" + report_text)

        let isReportElementRendered = $('#predict_report_text').length !== 0
        if (!isReportElementRendered) {
            return
        }

        TypeWriter(report_text, 'predict_report_text', 15)

        document.getElementById('export-pdf').addEventListener('click', function () {
            fetch('/export-pdf', { method: 'POST' })
                .then(response => response.blob())
                .then(blob => {
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.style.display = 'none';
                    a.href = url;
                    a.download = 'prediction.pdf';
                    document.body.appendChild(a);
                    a.click();
                    window.URL.revokeObjectURL(url);
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred while exporting the PDF.');
                });
        });

       /* document.getElementById('send-mail').addEventListener('click', function () {
            const email = prompt("Please enter the recipient's email address:");
            if (email) {
                fetch('/send-email', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ email: email }),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Email sent successfully!');
                    } else {
                        alert('Failed to send email: ' + data.message);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred while sending the email.');
                });
            }
        }); */

  /*      if ({{ showPopup }}) {
            let CTorMRI = {{ title }} === 'Brain' ? "MRI" : "CT"
            Swal.fire({
                title: "{{ title }} Tumor Detection",
                text: `Please upload a valid ${CTorMRI} image.`,
                icon: "error"
            });
        }
*/
    });

</script>
</body>
</html>