:root{
    --main-height: 100dvh;

    --main-background-color-light: #cfcfcf;
    --main-background-color-dark: #212121;

    /* Dark Mode - Light Mode */
    --base: #cfcfcf;
    --text: #212121;
    --card-bg: #404040;

    /* Analogous Color Palette*/
    --main-title-color: #2a84d3;
    --main-text-color: #3477B2;
    --main-secondary-text-color: #3438B2;
    --main-accent-color: #34B2AE;
    --main-report-text-color: #8ea5cd;

    --header-bar-color: #275985;
    --header-bar-border: 2px solid var(--header-bar-color);

    /*--main-border-radius: 4px;*/
    --main-border-radius: 7%;

    --main-delay: 150ms;

    --white: #fff;
    --black: #000;
    --gray-50: #f9f9f9;
    --gray-100: #ececec;
    --gray-200: #cdcdcd;
    --gray-300: #b4b4b4;
    --gray-400: #9b9b9b;
    --gray-500: #676767;
    --gray-600: #424242;
    --gray-700: #2f2f2f;
    --gray-800: #212121;
    --gray-900: #171717;
    --gray-950: #0d0d0d;
    --brand-purple: #ab68ff;
}

/* Dark / Light mode */
@media (prefers-color-scheme: dark) {
    :root {
        --base: #212121;
        --text: #cfcfcf;
        --card-text: #c5c5c5;
        --card-bg: #333333;
    }
}

:root:has(#theme [value="☀️"]:checked) {
    color-scheme: light;
    --base: #cfcfcf;
    --text: #212121;
    --card-text: #404040;
    --card-bg: #b4babfe0;
}

:root:has(#theme [value="🌑"]:checked) {
    color-scheme: dark;
    --base: #212121;
    --text: #cfcfcf;
    --card-text: #c5c5c5;
    --card-bg: #333333;
}


html,
body{
    font-family: "Overpass", sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
    height: var(--main-height);
    color-scheme: dark light;
    color: var(--text) !important;
    background-color: var(--base) !important;
    /*background-color: var(--bs-dark) !important;*/
}

.header-bar{
    border-bottom: var(--header-bar-border);
    position: sticky;
    top: 0;
    /*background: var(--bs-dark);*/
}

.header-bar a{
    color: var(--main-title-color) !important;
    text-decoration: none;
    font-size: 40px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

label{
  color: var(--text);
}

input{
  color: var(--text);
}

.container-fluid{
    color: var(--main-report-text-color);
}

.report{
    padding: 5rem;
}

.login-label{
    color: var(--main-title-color);
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.login-label:hover{
    cursor: pointer;
}


.dropdown-content {
    position: absolute;
    top: 100%;
    right: 0;
    width: 25ch;
    height: 10ch;
    background-color: var(--base);
    border: 1px solid var(--text);
    border-radius: var(--main-border-radius);
    padding: 10px;
    animation: scale-down var(--main-delay) cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
    transform-origin: top right;
    display: none;
}

.user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.user-info span {
    font-weight: bold;
    color: var(--text); /* Added text color */
}

.dropdown input:checked ~ .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.dropdown-content .username {
    color: var(--text); /* Added text color */
}


@keyframes scale-down {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.hidden-input{
    display: none;
}

/***** Brain SVG *****/
.brain-animation{
  height: 10%;
  width: 10%;
}

@keyframes beat {
    0% {
      animation-timing-function: cubic-bezier(
        0.1028,
        0.2484,
        0.1372,
        0.849
      );
      transform: scale(1);
    }

    34% {
      animation-timing-function: cubic-bezier(
        0.7116,
        0.2095,
        0.8159,
        0.6876
      );
      transform: scale(1.2);
    }

    68% {
      animation-timing-function: cubic-bezier(0.1475, 0.2888, 0.294, 0.883);
      transform: scale(1.0268);
    }

    84% {
      animation-timing-function: cubic-bezier(
        0.8176,
        0.2193,
        0.867,
        0.6889
      );
      transform: scale(1.0932);
    }

    100% {
      transform: scale(1);
    }
}


/***** background gradient *****/
@keyframes borderAnimation {
  0% { border-image-slice: 1; }
  50% { border-image-slice: 20; }
  100% { border-image-slice: 1; }
}
