:root {
    --main-height: 100dvh;

    --main-background-color-light: #cfcfcf;
    --main-background-color-dark: #212121;

    /* Dark Mode - Light Mode */
    --base: #cfcfcf;
    --text: #212121;
    --card-bg: #404040;

    /* Analogous Color Palette*/
    --main-title-color: #2a84d3;
    --main-text-color: #3477B2;
    --main-secondary-text-color: #3438B2;
    --main-accent-color: #34B2AE;
    --main-report-text-color: #8ea5cd;

    --upload-icon-hover: #52a2e9;

    --header-bar-color: #275985;
    --header-bar-border: 2px solid var(--header-bar-color);

    --export-icons-color: #70afff;

    /*--main-border-radius: 4px;*/
    --main-border-radius: 7%;

    --main-delay: 150ms;

    --white: #fff;
    --black: #000;
    --gray-50: #f9f9f9;
    --gray-100: #ececec;
    --gray-200: #cdcdcd;
    --gray-300: #b4b4b4;
    --gray-400: #9b9b9b;
    --gray-500: #676767;
    --gray-600: #424242;
    --gray-700: #2f2f2f;
    --gray-800: #212121;
    --gray-900: #171717;
    --gray-950: #0d0d0d;
    --brand-purple: #ab68ff;
}

/* Dark / Light mode */
@media (prefers-color-scheme: dark) {
    :root {
        --base: #212121;
        --text: #cfcfcf;
        --card-text: #c5c5c5;
        --card-bg: #333333;
    }
}

:root:has(#theme [value="☀️"]:checked) {
    color-scheme: light;
    --base: #cfcfcf;
    --text: #212121;
    --card-text: #404040;
    --card-bg: #b4babfe0;
}

:root:has(#theme [value="🌑"]:checked) {
    color-scheme: dark;
    --base: #212121;
    --text: #cfcfcf;
    --card-text: #c5c5c5;
    --card-bg: #333333;
}


html,
body {
    font-family: "Overpass", sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
    height: var(--main-height);
    color-scheme: dark light;
    color: var(--text) !important;
    background-color: var(--base) !important;

    ::selection {
        color: var(--gray-400) !important;
    }

    /*background-color: var(--bs-dark) !important;*/
}

.header-bar {
    border-bottom: var(--header-bar-border);
    position: sticky;
    top: 0;
    /*background: var(--bs-dark);*/
}

.header-bar a {
    color: var(--main-title-color) !important;
    text-decoration: none;
    font-size: 40px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

label {
    color: var(--text);
}

input {
    color: var(--text);
}

.container-fluid {
    color: var(--main-report-text-color);
}

.report {
    padding: 2rem 3rem;
}

.login-label {
    color: var(--main-title-color);
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.login-label:hover {
    cursor: pointer;
}


.dropdown-content {
    position: absolute;
    top: 80%;
    right: 3rem;
    width: 25ch;
    height: 13ch;
    background-color: var(--base);
    border: 1px solid #5c5c5c;
    border-radius: var(--main-border-radius);
    padding: 10px;
    animation: scale-down var(--main-delay) cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
    transform-origin: top right;
    display: none;
}

.reservations-icon {
    font-size: 30px !important;
    margin-right: 2ch;
    position: relative;
}

.user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.user-info span {
    font-weight: bold;
    color: var(--text); /* Added text color */
}

.dropdown input:checked ~ .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.dropdown-content .username {
    color: var(--text); /* Added text color */
}


@keyframes scale-down {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.hidden-input {
    display: none;
}

/***** Brain SVG *****/
.brain-animation {
    height: 10%;
    width: 10%;
}

@keyframes beat {
    0% {
        animation-timing-function: cubic-bezier(
                0.1028,
                0.2484,
                0.1372,
                0.849
        );
        transform: scale(1);
    }

    34% {
        animation-timing-function: cubic-bezier(
                0.7116,
                0.2095,
                0.8159,
                0.6876
        );
        transform: scale(1.2);
    }

    68% {
        animation-timing-function: cubic-bezier(0.1475, 0.2888, 0.294, 0.883);
        transform: scale(1.0268);
    }

    84% {
        animation-timing-function: cubic-bezier(
                0.8176,
                0.2193,
                0.867,
                0.6889
        );
        transform: scale(1.0932);
    }

    100% {
        transform: scale(1);
    }
}


/***** background gradient *****/
@keyframes borderAnimation {
    0% {
        border-image-slice: 1;
    }
    50% {
        border-image-slice: 20;
    }
    100% {
        border-image-slice: 1;
    }
}

@keyframes gradientAnimation {
    0% {
        background-image: linear-gradient(to right, #000046 0%, #1CB5E0 51%, #000046 100%);
    }
    50% {
        background-image: linear-gradient(to left, #000046 0%, #1CB5E0 51%, #000046 100%);
    }
    100% {
        background-image: linear-gradient(to right, #000046 0%, #1CB5E0 51%, #000046 100%);
    }
}

.title {
    width: 100%;
    font-size: 3ch;
    background-image: linear-gradient(to right, #000046 0%, #1CB5E0 51%, #000046 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
    font-weight: bold;
    margin: 10px;
    animation: gradientAnimation 1s infinite;
}

.welcome-image-container{
    margin: 4% 4%;
    aspect-ratio: 1;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.form-group {
    text-align: center;
    margin: 3rem auto;
}

.predict-btn {
    margin: 0 auto;
}

.img-input-group {
    margin-bottom: 2ch;
}

.img-input-group label {
    margin-right: 3ch;
}

.upload-label {
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
}

.upload-file {
    display: none;
}

.upload-label svg:hover {
    color: var(--upload-icon-hover);
    transition: color var(--main-delay);
}

.form-upload {
    display: flex;
    align-items: center;
    position: relative;
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.welcome-container {
    max-width: 100%;
    border: 2px solid #474747;
    background: #2d2d2d;
    box-shadow: 0 0 10px 0 #585858;
    border-radius: 15px;
    padding: 5em;
    justify-content: space-between;
}

text[font-family="applied-button-font-0"] {
    background-color: var(--base) !important;
}

.other-signin {
    align-items: end;
    justify-content: start;
}


.signin-button,
.abcRioButton {
    height: 50px !important;
    width: 50px !important;
    border-radius: 20% !important;
    cursor: pointer;
    margin-right: 2ch;
}

.signin-button {
    scale: 1.2;
    border-radius: 60% !important;
}

.abcRioButton {
    scale: 0.8;
}

.badge.rounded-pill {
    scale: 0.5;
    top: -8px;
    left: 20px;
}

.result-container {
    border: 1px solid darkslategray;
    border-radius: calc(var(--main-border-radius) - 6%);
    background: black;
    width: 80%;
    margin: 0 auto;
    color: #bfbfbf;
}

/*light

border: 1px solid darkslategray;
  border-radius: calc(var(--main-border-radius) - 6%);
  background: #b7b7b7;
  width: 80%;
  margin: 0 auto;
  color: #000;
}
*/

.icon-container {
    float: right;
}

.icon-container i {
    margin-left: 10px;
    cursor: pointer;
    font-size: 26px;
    color: var(--export-icons-color);
}

.charts-container{
    width: 50dvw;
}

.chart{
    width: 400px !important;
    height: 400px !important;
}

.img-thumbnail{
    width: 100% !important;
    height: 100% !important;
    border: unset !important;
    background: unset !important;
    animation: ribbon-colors 30s ease-out infinite
}

@keyframes ribbon-colors {
    0% {
        filter: unset;
    }
    5% {
        filter: invert(80%) sepia(100%) saturate(300%) hue-rotate(160deg) brightness(95%) contrast(80%);
    }
    10% {
        filter: invert(80%) sepia(100%) saturate(300%) hue-rotate(310deg) brightness(95%) contrast(80%);
    }
    15% {
        filter: invert(80%) sepia(100%) saturate(300%) hue-rotate(460deg) brightness(95%) contrast(80%);
    }
    20% {
        filter: invert(80%) sepia(100%) saturate(300%) hue-rotate(610deg) brightness(95%) contrast(80%);
    }
    25% {
        filter: invert(80%) sepia(100%) saturate(300%) hue-rotate(760deg) brightness(95%) contrast(80%);
    }
    30% {
        filter: invert(80%) sepia(100%) saturate(300%) hue-rotate(910deg) brightness(95%) contrast(80%);
    }
    35% {
        filter: invert(80%) sepia(100%) saturate(300%) hue-rotate(1060deg) brightness(95%) contrast(80%);
    }
    40% {
        filter: invert(80%) sepia(100%) saturate(300%) hue-rotate(1210deg) brightness(95%) contrast(80%);
    }
    45% {
        filter: invert(80%) sepia(100%) saturate(300%) hue-rotate(1360deg) brightness(95%) contrast(80%);
    }
    50% {
        filter: invert(80%) sepia(100%) saturate(300%) hue-rotate(1510deg) brightness(95%) contrast(80%);
    }
    55% {
        filter: invert(80%) sepia(100%) saturate(300%) hue-rotate(1660deg) brightness(95%) contrast(80%);
    }
    60% {
        filter: invert(80%) sepia(100%) saturate(300%) hue-rotate(1810deg) brightness(95%) contrast(80%);
    }
    65% {
        filter: invert(80%) sepia(100%) saturate(300%) hue-rotate(1960deg) brightness(95%) contrast(80%);
    }
    70% {
        filter: invert(80%) sepia(100%) saturate(300%) hue-rotate(2110deg) brightness(95%) contrast(80%);
    }
    75% {
        filter: invert(80%) sepia(100%) saturate(300%) hue-rotate(2260deg) brightness(95%) contrast(80%);
    }
    80% {
        filter: invert(80%) sepia(100%) saturate(300%) hue-rotate(2410deg) brightness(95%) contrast(80%);
    }
    85% {
        filter: invert(80%) sepia(100%) saturate(300%) hue-rotate(2560deg) brightness(95%) contrast(80%);
    }
    90% {
        filter: invert(80%) sepia(100%) saturate(300%) hue-rotate(2710deg) brightness(95%) contrast(80%);
    }
    95% {
        filter: invert(80%) sepia(100%) saturate(300%) hue-rotate(2860deg) brightness(95%) contrast(80%);
    }
    100% {
        filter: invert(80%) sepia(100%) saturate(300%) hue-rotate(3010deg) brightness(95%) contrast(80%);
    }
}


.signin-container{
    height: fit-content;
    transform: translateY(10%);
}