<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title></title>

    {# Favicon #}
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/brain-16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/brain-32.png">
    <link rel="icon" type="image/png" sizes="64x64" href="../static/favicon/brain-64.png">

    {# Styles #}
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css"/>
    <link rel="stylesheet" type="text/css" href="../static/styles/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/styles/bootstrap/bootstrap-grid.rtl.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/cards.css"/>
    <link rel="stylesheet" type="text/css" href="../static/styles/buttons.css"/>
    <link rel="stylesheet" type="text/css" href="../static/styles/dark.min.css"/>

    {# loader style #}
    <link rel="stylesheet" type="text/css" href="../static/styles/loader.css"/>


    {# Fonts #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap"
          rel="stylesheet">

    {# Scripts #}
    <script src="{{ url_for('static', filename='lib/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/jquery/jquery-3.7.1.min.js') }}" defer></script>
    <script src="{{ url_for('static', filename='lib/sweetalert.js') }}" defer></script>
    <script src="{{ url_for('static', filename='lib/li.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/theme.js') }}"></script>

</head>
<body>
{% if is_authenticated %}
    <div class="header-bar col-lg-12 pi-1-6 d-flex align-items-center justify-content-between">
        <a class="mb-0 branding" href="{{ url_for('index') }}">TumorSense</a>

        <div class="right-content d-flex flex-row align-items-end">
            <a class="reservations-icon">
                <i class="bi bi-bell position-relative"></i>
                <span class="position-absolute translate-middle badge rounded-pill bg-danger">
                    99+
                    <span class="visually-hidden">unread messages</span>
                </span>
            </a>
            <div class="dropdown">
                <input type="checkbox" class="sr-only hidden-input" id="dropdown-toggle">
                <label for="dropdown-toggle" class="avatar-label">
                    <img class="user-image user-select-none" draggable="false"
                         src="{{ url_for('static', filename='images/default_avatar.jpg') }}" alt="User Avatar">
                </label>
                <div class="dropdown-content">
                    <div class="user-info">
                        <a class="username" href="{{ url_for('get_profile', username=current_user.username) }}">
                            {{ session.get('displayname', 'Guest') }}
                        </a>
                    </div>
                    <div class="preferences-content">
                        Theme
                        <select data-theme-picker class="btn btn-secondary dropdown-toggle" name="themepicker" id="theme">
                            <option value="💻">System</option>
                            <option value="☀️">Light</option>
                            <option value="🌑">Dark</option>
                        </select>
                    </div>
                    <form method="get" action="{{ url_for('logout') }}">
                        <button class="btn btn-warning" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% include "mainHeader/loader.html" %}
</body>
</html>